/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
@import "@nuxt/ui";  /*important for NuxtUI v4 to load UI */

/* @source "../../../content*"; */

/* ONLY your overrides AFTER tailwind */
@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
}

/* your base styles */
html {
  @apply antialiased;
}

body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100;
}